$color-primary: hsl(214, 17%, 51%);
$color-primary-dark: hsl(217, 19%, 35%);
$color-primary-light: hsl(212, 23%, 69%);
$color-secondary: hsl(210, 46%, 95%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: $color-secondary;
  font-size: 1.6rem;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
